global
  maxconn  30000
#  stats  socket /var/lib/haproxy/stats user root group root mode 660 level admin
  tune.bufsize  384000
  tune.chksize  16384
  ulimit-n  65535
defaults
  mode tcp
  timeout connect {{ timeout_connect }}
  timeout server {{ timeout_server }}
  timeout client {{ timeout_client }}
listen stats
  mode http
  bind :{{ stats_port }}
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /
frontend front_redis
  mode tcp
  bind *:{{ haproxy_port }}
  default_backend backend_redis
backend backend_redis
  mode tcp
  option tcp-check
  tcp-check send PING\r\n
  tcp-check expect string +PONG
  tcp-check send info\ replication\r\n
  tcp-check expect string role:master
  tcp-check send QUIT\r\n
  tcp-check expect string +OK
  server redis_01 {{ redis_backend1 }} maxconn 1024 check inter 1s
  server redis_02 {{ redis_backend2 }} maxconn 1024 check inter 1s
  server redis_03 {{ redis_backend3 }} maxconn 1024 check inter 1s
